@model ClinicManagementProject.Models.PatientViewModel


<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<style>
            div {
                position: absolute;
                vertical-align: middle;
                align-self: center
            }
        </style>*@
</head>


<body>
    <div>
        @using (Html.BeginForm("ChangePassword", "Patient", FormMethod.Post))
        {
<table class="table-bordered">
    <tr>
        <td>
            @Html.Label("Old Password", "Old Password")
        </td>
        <td>
            @Html.Password("oldPassword")
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("NewPassword", "New Password")
        </td>
        <td>
            @Html.PasswordFor(m => m.EnteredPassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.EnteredPassword, "", new { @class = "text-danger" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("Retype New Password", "Retype New Password")

        </td>
        <td>
            @Html.PasswordFor(m => m.RetypeEnteredPassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.RetypeEnteredPassword, "", new { @class = "text-danger" })
        </td>
    </tr>
</table>
                <button class="btn btn-primary">Change Password</button>}

        <br />
        @Html.ActionLink("Return to Main Page", "PatientConsole", "Patient")
    </div>
    <section class="alert alert-danger">
        @ViewData["ChangePassword"]

    </section>
</body>
</html>


