@model IEnumerable<ClinicManagementProject.Models.ConsultationDetail>

@{Layout = "~/views/Patient/_PatientLayout.cshtml";}

<meta name="viewport" content="width=device-width" />
<title>ViewBookedAppointments</title>
<body>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Doctor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Timeslot)
                </th>
                
                <th>
                    @Html.DisplayNameFor(model => model.Consultation_Status)
                </th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Doctor.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Timeslot)
    </td>
    
    <td>
        @Html.DisplayFor(modelItem => item.Consultation_Status)
    </td>
    
    <td>
        @*<a asp-action="Edit" asp-route-id="@item.Consultation_Id">Edit</a> |*@
        @Html.ActionLink("Cancel Appointment", "CancelAppointment", "Patient", new { consultationid = item.Consultation_Id })
    </td>
</tr>
}
        </tbody>
    </table>
    <section>
        @Html.ActionLink("Return to Main Page", "PatientConsole", "Patient")
    </section>
</body>
</html>
